.project-container {
    display: flex;
    align-items: flex-start;
    border-left: 2px solid #888888; /* Line connecting rows */
    padding-left: 20px; /* Adjust as needed */
  }
  
  .project {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; /* Adjust as needed */
    width: 100%;
  }
  
  .project-image {
    flex: 0 0 auto;
    min-height: 100px;
    width: 100%;
    width: 200px; /* remove afterwards as if some project dont have image it manages it. */
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .project-title {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .project-key-points {
    width: 100%;
    display: none; /* Hidden by default */
    text-align: left;
    margin-bottom: 10px;
  }

  .project-key-points.show {
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  
  .project-time {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px; /* Adjust as needed */
    color: #888888; /* Optional: Time color */
  }
  
  .project-time::before {
    content: '';
    position: absolute;
    top: 80%;
    left: -7px;
    transform: translateY(-50%);
    height: 2px;
    width: 9px;
    background-color: #888888;
  }
  
  .project-tools {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .project-tools ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .project-tools li {
    margin-right: 10px; /* Adjust as needed */
    margin-bottom: 10px;
    padding: 6px 12px; /* Adjust as needed */
    background-color: #f2f2f2; /* Optional: Button background color */
    border-radius: 20px; /* Optional: Rounded buttons */
    font-size: 12px; /* Adjust as needed */
  }
  