:root {
  --nav-item-color: rgba(255, 255, 255, 1);
  --nav-item-hover-color: #f1f1f1;
  --nav-item-underline-color: #fff;
  
  --nav-name-gradient-1: #ff00ff;
  --nav-name-gradient-2: #00ffff;
  
  --body-bg-gradient-1: #2773f4;
  --body-bg-gradient-2: #b30f81;
}

/* Navbar*/
.nav-link {
  position: relative;
  color: var(--nav-item-color) !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
  transform-origin: right;
  background-color: var(--nav-item-underline-color);
}

.nav-link:hover,
.nav-link.active {
  text-decoration: none;
  color: var(--nav-item-hover-color);
}

/* For name in the website */
.gradient-text {
  background: linear-gradient(45deg, var(--nav-name-gradient-1), var(--nav-name-gradient-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveLinearGradient 2s linear infinite;
}


body {
  background: linear-gradient(to bottom, var(--body-bg-gradient-1), var(--body-bg-gradient-2));
  background-size: 100% 200%;
  background-repeat: no-repeat;
  animation: moveLinearGradient 5s linear infinite;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.body__bg {
  background: radial-gradient(circle 30px at var(--mouse-x, 50%) var(--mouse-y, 50%), rgba(39, 115, 244, 0.3), rgba(26, 60, 143, 0.3));
  background-size: 100% 200%;
  background-repeat: no-repeat;
  transition: background-position 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

@keyframes moveLinearGradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 100%;
    /* Move the linear gradient to the bottom */
  }

  100% {
    background-position: 0% 0%;
  }
}

